package ${filter.mapperPath};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${filter.entityPath}.${table.className};
import io.github.tr.common.base.query.OrderByColumn;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import java.util.Map;
import java.util.List;

import static io.github.tr.common.mysql.constant.MybatisConstant.ORDER_NAME;

@Mapper
public interface ${table.className}Mapper extends BaseMapper<${table.className}> {
    /**
     * <h2>查询数据库方法</h2>
     * <p>注意：IPage的反省可以是任何Java类或者Map和JSONObject等</p>
     * <p>此处生成代码只是简单写成实体类，如有变更请自行修改！</p>
     * @param page 分页参数
     * @param params 查询条件
     * @param order 排序字段
     * @return 查询结果集
    */
    IPage<${table.className}> query(Page<${table.className}> page, @Param("params") Map<String, Object> params, @Param(ORDER_NAME) List<OrderByColumn> order);
}
