# Tomcat
server:
  port: 12019
  servlet:
    context-path: /auth

# Spring
spring:
  application:
    # 应用名称
    name: auth-service
#  profiles:
#    # 环境配置
#    active: dev

--- # nacos 配置
spring:
  cloud:
    nacos:
      # nacos 服务地址
      server-addr: 169.254.99.183:8848
      discovery:
        locator:
          enabled: true
        # 注册组
        group: DEFAULT_GROUP
        namespace: d2849116-e5e9-4131-99d8-daa0d27d4d98
      config:
        # 配置组
        group: DEFAULT_GROUP
        namespace: d2849116-e5e9-4131-99d8-daa0d27d4d98
  config:
    import:
      - optional:nacos:${spring.application.name}.yml
